.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;

  &__actions {
    margin: auto 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
}
