<div class="messenger">
  <header class="messenger-header">
    <div class="messenger-header__img">
      {{#if image}}
        <img src="{{image}}" alt="{{name}}"/>
      {{/if}}
    </div>
    <div class="messenger-header__name">
      {{name}}
    </div>
    <div class="messenger-header__actions">
      ...
    </div>
  </header>
  <div class="messenger-body"></div>
  <div class="messenger-footer">

  </div>
</div>
