$font: "OpenSans";
$font-size: 14px;

$black: #1e1e1e;
$white: #fff;
$primary: #3369f3;
$red: #ff2f2f;
$gray: #999;
$light-gray: #eaeaea;
$lighten-gray: #fbfbfb;
$chat-hover: #e4edfd;
$chat-active: #c6d7f5;
$incoming-message: #f8f8f8;


$radius-sm: 8px;
$radius-m: 12px;
$radius-l: 30px;
